<div class="person" (click)="_selectPerson()">
  <div *ngIf="!selected" class="person-info selectable">
    <div>{{ role }}</div>
    <div>{{ person?.name | titlecase }}</div>
    <div>{{ person?.sex }}</div>
  </div>

  <div *ngIf="selected" class="selected-person">
    <div class="person-info person-info-selected">
      <svg
        (click)="_editPersonTab = !_editPersonTab; _addPersonTab = false"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="edit-button bi bi-pencil-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>

      <svg
        (click)="_addPersonTab = !_addPersonTab; _editPersonTab = false"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="add-button bi bi-plus-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
        />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg>

      <div>{{ person?.name | titlecase }}</div>
      <div>{{ person?.sex }}</div>
    </div>

    <div *ngIf="_editPersonTab" class="person-tab">
      <input #nameInput [value]="person?.name" />
      <select #sexInput [value]="person?.sex">
        <option>male</option>
        <option>female</option>
      </select>
      <button (click)="_editPersonTab = !_editPersonTab; _changeInfo({ name: nameInput.value, sex: sexInput.value })">save</button>
    </div>

    <div *ngIf="_addPersonTab" class="person-tab">
      <div>
        <span>Add</span>
        <select #newPersonRole>
          <option>father</option>
          <option>mother</option>
          <option>child</option>
        </select>
      </div>
      <div>
        <input #newPersonNameInput />
        <button (click)="_addPerson({ name: newPersonNameInput.value, role: newPersonRole.value }, newPersonNameInput)">save</button>
      </div>
    </div>
  </div>
</div>
