.person {
  display: flex;
  margin: 1rem;

  .person-info {
    background-color: rgb(146, 190, 231);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-right: 1rem;
    border-radius: 10px;
    transition: 100ms;
  }

  .selectable {
    cursor: pointer;
    &:hover {
      background-color: rgb(182, 210, 236);
    }
  }

  .selected-person {
    display: flex;

    .add-person {
      background-color: rgb(146, 190, 231);
      padding: 2rem;
      border-radius: 10px;
    }
  }
}
