<div class="family">
  <div class="person-row">
    <ngx-person *ngFor="let father of family?.fathers" [person]="father" role="father"></ngx-person>
    <ngx-person *ngFor="let mother of family?.mothers" [person]="mother" role="mother"></ngx-person>
  </div>

  <div class="person-row">
    <ngx-person [person]="family?.selectedPerson" [selected]="true"></ngx-person>
  </div>

  <div class="person-row">
    <ngx-person *ngFor="let child of family?.children" [person]="child" role="child"></ngx-person>
  </div>
</div>
