<div class="person-row person-row-top">
  <ngx-person *ngFor="let father of family?.fathers" [person]="father" role="father"></ngx-person>
  <ngx-person *ngFor="let mother of family?.mothers" [person]="mother" role="mother"></ngx-person>
</div>

<ngx-person [person]="family?.selectedPerson" [selected]="true" class="person-row person-row-middle"></ngx-person>

<div class="person-row person-row-bottom">
  <ngx-person *ngFor="let child of family?.children" [person]="child" role="child"></ngx-person>
</div>
